/* 导航加页脚 */

* {
    padding: 0;
    margin: 0;
}

.head {
    height: 40px;
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.head_left,
.head_right {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-content: center;
}

.head_left {
    margin-left: 145px;
    width: 92px;
}

.head_right {
    margin-right: 145px;
    width: 301px;
}

.codeOne img,
.codeTwo img {
    padding: 10px;
    width: 120px;
    height: 120px;
}

.codeTwo,
.codeOne {
    margin-top: 3px;
    position: absolute;
    border: 1px solid rgb(177, 163, 163);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
}

.codeOne p,
.codeTwo p {
    text-align: center;
    padding-bottom: 10px;
}

.head li a {
    line-height: 40px;
    color: #ffffff;
    font-family: '宋体';
}

.head_right span {
    color: #666666;
}


/* 公告部分 */

.notice {
    margin-top: 3px;
    position: absolute;
    border: 1px solid rgb(177, 163, 163);
    background-color: white;
    right: 100px;
}

.notice ul {
    width: 220px;
    padding: 15px 15px 30px 20px;
}

.head .notice ul li {
    border-bottom: 1px solid rgb(187, 164, 164);
}

.notice ul li:nth-child(1) a {
    color: red;
}

.notice ul li a {
    color: rgb(107, 99, 99);
    line-height: 35px;
}


/* hovera标签特效 */

.head_a:hover {
    color: gray;
}


/* logo */

.logo {
    margin: 0 auto;
    width: 98px;
    height: 168px;
    padding: 55px 0;
}


/* 导航 */

.nav {
    width: 100%;
    /* border-bottom: 3px solid black; */
    position: relative;
    /* position: fixed; */
}

.box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    border-bottom: 3px solid black;
}

.nav_center {
    height: 50px;
    width: 1190px;
    margin: 0 auto;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
}


/* 导航中的logo */

.nav_log img {
    width: 60px;
    height: 38px;
    margin-top: 8px;
}

.nav_left {
    width: 930px;
    height: 50px;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: start;
}

.nav_leftli {
    width: 110px;
    height: 50px;
    align-items: center;
    /* margin: 15px; */
    padding: 15px;
}

.nav_leftli a {
    font-weight: bold;
    color: #333;
    font-size: 20px;
}

.nav_leftli a:hover {
    text-decoration: underline;
}

.nav_right {
    width: 180px;
    height: 25px;
    /* background-color: burlywood; */
    margin-top: 15px;
    border-bottom: 1px solid black;
}

.nav_right input {
    height: 24px;
    width: 150px;
    border: none;
}


/* 下拉菜单 */

.nav_down {
    width: 100%;
    position: absolute;
    left: 0;
    margin: 0 auto;
    /* display: none; */
    top: 50px;
    /* height: 328px; */
    height: 0px;
    /* background-color: blueviolet; */
    overflow: hidden;
    /* display: none; */
    border-bottom: 3px solid black;
    border-width: 0px;
}

.nav_downSelect {
    /* bottom: -3px; */
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 30px 0 70px 0;
    background-color: white;
    /* visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 328px;
    z-index: 100;
}

.active {
    visibility: visible;
    z-index: 1000;
}

.nav_downSelect dl {
    float: left;
    height: 225px;
}

.nav_downSelect dl:nth-child(1) {
    width: 130px;
    margin-right: 70px;
    /* margin-left: 180px; */
}

.nav_downSelect dl:nth-child(1) dt,
.nav_downSelect dl:nth-child(4) dt {
    width: 130px;
    height: 33px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.nav_downSelect dl:nth-child(1) dd,
.nav_downSelect dl:nth-child(4) dd {
    width: 65px;
    height: 20px;
    margin-top: 12px;
    font-size: 12px;
    font-weight: bold;
    float: left;
}

.nav_downSelect dl:nth-child(1) dd a,
.nav_downSelect dl:nth-child(4) dd a {
    color: #666;
}

.nav_downSelect dl:nth-child(2),
.nav_downSelect dl:nth-child(3),
.nav_downSelect dl:nth-child(5) {
    width: 80px;
    margin-right: 70px;
    margin-left: 70px;
}

.nav_downSelect dl:nth-child(2) dt,
.nav_downSelect dl:nth-child(3) dt,
.nav_downSelect dl:nth-child(5) dt {
    width: 80px;
    height: 33px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.nav_downSelect dl:nth-child(2) dd,
.nav_downSelect dl:nth-child(3) dd,
.nav_downSelect dl:nth-child(5) dd {
    width: 80px;
    height: 20px;
    margin-top: 12px;
    font-size: 12px;
    font-weight: bold;
    float: left;
}

.nav_downSelect dl:nth-child(2) dd a,
.nav_downSelect dl:nth-child(3) dd a,
.nav_downSelect dl:nth-child(5) dd a {
    color: #666;
}

.nav_downSelect dl:nth-child(4) {
    width: 130px;
    margin-right: 315px;
    margin-left: 70px;
}


/* 内容 导购栏*/

.list_content {
    width: 1190px;
    margin: 0 auto;
    /* background-color: blanchedalmond; */
}

.filter-title-list {
    padding: 30px 0 20px;
    font-size: 12px;
    color: #333;
    width: 100%;
    /* background-color: cadetblue; */
    height: 68px;
}

.menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-list a {
    color: black;
}

.filter-sub-wrap {
    width: 100%;
    /* height: 2000px; */
    display: flex;
    justify-content: center;
    background-color: white;
}


/* 侧边框 */

.suspend {
    position: fixed;
    top: 20px;
    left: 165px;
    /* top: 0; */
    /* left: 0; */
    /* margin: 0px; */
    z-index: 99;
}


/* .sidenav {
    width: 180px;
    height: 1000px;
    background-color: lawngreen;
} */

.filter-sub-navlist {
    width: 180px;
    font-size: 20px;
    background-color: white;
    color: #000;
    /* float: left; */
    /* display: inline-block; */
}

.filter-sub-wrap .filter-sub-navlist>p {
    color: #666;
    font-size: 12px;
    margin-top: 45px;
    /* background-color: chartreuse; */
}

.filter-sub-navlist_ul {
    width: 100%;
    height: 288px;
    background-color: white;
    /* background-color: chocolate; */
    margin-top: 25px;
    /* overflow: hidden; */
}

.filter-sub-navlist_ul>li {
    margin-top: 10px;
    cursor: pointer;
    width: 180px;
    height: 20px;
    /* background-color: cornflowerblue; */
    /* border: crimson 1px solid; */
    display: inline-block;
}

.filter-sub-navlist_ul>li>p {
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

.filter-sub-navlist_ul>ul {
    margin: 10px 0;
    width: 170px;
    float: right;
    /* width: 100%; */
    margin-left: 10px;
    background-color: white;
    height: 270px;
    /* background-color: rgb(48, 214, 56); */
    display: none;
}

.filter-sub-navlist_ul>ul>li {
    font-size: 12px;
    color: #333;
    margin-top: 10px;
    font-weight: normal;
    cursor: pointer;
    width: 140px;
    margin-left: 30px;
}


/* 主内容tab */


/* 点击添加的加粗下划线 */

.boldli {
    font-weight: bold;
    text-decoration: underline;
}

.main_content {
    /* float: right; */
    /* display: inline-block; */
    width: 1010px;
}

.main_content_ul {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    /* background-color: darkkhaki; */
    margin-top: 20px;
    position: relative;
    margin-bottom: 10px;
}

.main_content_ul .li {
    display: inline-block;
    font-size: 14px;
    padding: 0 30px;
    cursor: pointer;
}

.main_content_ul li:nth-child(6) {
    position: absolute;
    font-size: 14px;
    padding: 0 30px;
    right: 0px;
    top: 0;
    font-size: 12PX;
    color: #999;
    /* display: inline-block; */
}

.goodslist {
    width: 1010px;
    /* height: 2000px; */
}

.goodslist_ul {
    width: 1010px;
    margin: 30px auto 0 auto;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
}

.goodslist_ul_li {
    display: block;
    width: 250px;
    height: 420px;
    background-color: white;
    color: #333;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-right: 0px;
    float: left;
    padding: 10px;
    cursor: pointer;
}


/* .goodslist_ul>a {
    width: 250px;
    height: 420px;
    display: inline-block;
} */

.goodslist_ul_li:hover {
    background-color: #f6f6f6
}

.goodslist_ul_li>div {
    width: 100%;
    height: 100%;
    /* background-color: cadetblue; */
}

.imgdiv {
    width: 230px;
    height: 296px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgdiv img {
    width: 230px;
    height: 230px;
    /* background-color: cornflowerblue; */
}

.goodslist_ul_li>div>p {
    padding: 0 10px;
    min-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #333;
    line-height: 22.5px;
    margin-top: 15px;
}

.goodslist_ul_li>div>span {
    white-space: normal;
    overflow: hidden;
    display: inline-block;
    margin-top: 15px;
    /* position: relative; */
}


/* 爱心图标 */

.goodslist_ul_li>div>svg {
    position: absolute;
    right: 25px;
    bottom: 20px;
    color: rgb(156, 148, 148);
    width: 20px;
    height: 20px;
    display: none;
}

.goodslist_ul_li:hover svg {
    display: block;
}

.goodslist_ul_li>div>span>em {
    font-size: 10px;
    color: #333;
    font-weight: bold;
}

.goodslist_ul_li>div>span>em>i {
    font-size: 16px;
    font-weight: bold;
}

.goodslist_ul_li>div>span>del {
    font-size: 10px;
    color: #ccc;
    margin-left: 10px;
    margin-top: 1px;
    margin: 0 8px;
}

.goodslist_ul_li>div>span>del>i {
    font-size: 14px;
    color: #ccc;
}


/* 页码 */


/* .pagelist {
    border-left: none;
    margin: 0 auto 30px;
    text-align: center;
    width: 1190px;
    height: 80px;
    padding-top: 40px;
}

.m-style {
    margin-right: 40px;
    margin-bottom: 20px;
    float: right;
}

.m-style a {
    height: 27px;
    width: 27px;
    line-height: 27px;
    font-size: 14px;
    color: #333;
    padding: 0 6px;
    min-width: 15px;
    margin: 0 6px;
    border-left: none;
    text-align: center;
    overflow: hidden;
    display: inline-block;
} */


/* 点击特效页码 */


/* .pagelist .m-style .curr {
    color: white;
    background-color: #000;
} */


/* 页脚 */

.foot_one {
    margin-top: 0;
    overflow: hidden;
    width: 100%;
    background: #333;
    border-bottom: 1px solid #666;
    height: 116px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.foot_one_content {
    width: 1190px;
    height: 27px;
}

.foot_one_content ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}

.foot_one_content ul li {
    margin-right: 50px;
    color: white;
}

.foot_one_content ul li a {
    color: white;
    font-family: '宋体';
}

.foot_two {
    overflow: hidden;
    width: 100%;
    background: #333;
    border-bottom: 1px solid #666;
    height: 476px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot_two_content {
    width: 1190px;
}

.foot_two_content_ul {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: flex-start;
}

.foot_two_content_ul li {
    margin-right: 90px;
}

.foot_two_content_ul li dl {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.foot_two_content_ul li dt {
    color: #fff;
    font-size: 12px;
}

.foot_two_content_ul li dd a {
    color: #666;
}

.foot_two_content_ul li dd a:hover {
    color: white;
}

.foot_two_content_code {
    width: 1190px;
    height: 207px;
    overflow: hidden;
    position: relative;
}

.foot_two_content_code_ul1 {
    width: 407.5px;
    height: 47px;
    margin-top: 160px;
    float: left;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.foot_two_content_code_ul1 img {
    height: 47px;
}

.foot_two_content_code_ul2 {
    width: 297.75px;
    height: 152px;
    position: absolute;
    bottom: 0;
    left: 607.5px;
    display: flex;
    justify-content: space-between;
}

.foot_two_content_code_ul2 li {
    height: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot_two_content_code_ul2 li img {
    width: 120px;
}

.foot_two_content_code_ul2 li p {
    text-align: center;
    color: white;
    font: 12px;
    line-height: 20px;
}

.foot_nav {
    width: 1190px;
    height: 20px;
    margin-top: 25px;
}

.content {
    width: 1190px;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content li {
    padding-right: 10px;
    color: #333;
}

.content li a {
    color: white;
}

.copyright {
    margin-top: 15px;
    margin-bottom: 35px;
    color: #fff;
}