/* logo */

.logo_head {
    border-bottom: 1px solid #dcdbde;
    margin-bottom: 0;
    height: 69px;
    width: 100%;
}

.logo_head_content {
    z-index: 81;
    position: relative;
    width: 990px;
    margin: 0 auto;
    clear: both;
    height: 42px;
    padding: 13px 0;
}

.logo_head_log {
    padding: 5px 30px 5px 0;
    border-right: 1px solid #e6e6e6;
    margin-right: 30px;
    font: 22px/26px 'Microsoft YaHei';
    float: left;
}

.logo_head_p {
    font: 18px/40px normal;
    float: left;
}

.content {
    width: 100%;
    height: 553px;
    position: relative;
    background-color: khaki;
}

.content>a {
    width: 100%;
    height: 553px;
}

.nreg_box {
    left: 50%;
    margin-left: 115px;
    position: absolute;
    top: 0;
    width: 378px;
    z-index: 1;
    width: 378px;
    height: 542px;
}

.nreg_left {
    height: 530px;
    margin-top: 12px;
    background: #fff;
    box-sizing: border-box;
    float: right;
    width: 378px;
}

.tab_sig_reg {
    border-bottom: 1px solid #f3f3f3;
    margin: 24px 15px 0 15px;
    width: 348px;
    height: 41px;
}

.tab_sig {
    margin-left: 53px;
    margin-right: 5px;
    background: #f3f3f3;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 123px;
    color: black;
}

.tab_reg {
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 123px;
    background: #333;
}

.nreg_form {
    padding-top: 30px;
    margin: 0px 15px;
    width: 348px;
    height: 427px;
    padding-left: 10px;
}

.nreg_item {
    padding: 0px 0px 0px 8px;
    width: 338px;
    height: 66px;
    position: relative;
}

.nreg_item dd {
    width: 330px;
    height: 38px;
}

.nreg_input_bg {
    box-sizing: border-box;
    height: 38px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(227, 226, 226);
    border-image: initial;
    margin: 0px;
    width: 313px;
    float: left;
    position: relative;
}


/* onblur事件 */

.blur {
    border: 1px solid black;
}

.pwdStrength em {
    background: #efefef;
    display: inline-block;
    width: 46px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin-right: 1px;
    color: #c5c4c4;
}

.nreg_item dd .lab1 {
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    margin-left: 10px;
    text-align: left;
    width: 60px;
    float: left;
}

.nreg_input_bg input {
    float: right;
    height: 36px;
    line-height: 36px;
    width: 235px;
    background: 0px center;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px;
}

.regAutoBtn_1,
.regAutoBtn_1 span {
    color: rgb(255, 255, 255);
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    margin-right: 17px;
    text-align: center;
    width: 73px;
    background: rgb(50, 50, 50);
    padding: 0px;
    display: inline-block;
}

#reg_buton {
    background: #000;
    border: 0;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 312px;
    cursor: pointer;
}

.footer {
    line-height: 20px;
    text-align: center;
    FONT-FAMILY: Arial, Verdana;
    margin-top: 20px;
    overflow: hidden;
}

.errortips {
    /* background-position: -180px -95px; */
    color: #333;
    margin-top: 4px;
    display: inline-block;
    text-indent: 25px;
    line-height: 18px;
    height: 18px;
    background: url(../img/微信图片_20200805213211.png) no-repeat left center;
    /* background-color: blue; */
}

.righttips {
    margin-top: 0;
    position: absolute;
    right: 20px;
    top: 10px;
    padding-left: 25px;
    width: 20px;
    height: 20px;
    display: block;
    color: #009645;
    /* background-position: -314px 0; */
    background: url(../img/微信图片_20200805213930正确.png) no-repeat center center;
}


/* 密码强度 */

#pwdStrength .tip1 {
    background: red;
    color: white;
}

#pwdStrength .tip2 {
    background: #febd04;
    color: white;
}

#pwdStrength .tip3 {
    background: #094;
    color: white;
}